.tester {
  background-color: green;
  height: 200px;
}
.cd-fixed-background .cd-content::after {
	content: '';
	display: block;
	width: 50%;
	padding: 60% 0;
	margin: 2em auto 0;
}

html, body {
height: 100%;
}
.cd-fixed-background {
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
.cd-fixed-background.img-1 {
background-image: url("land1.jpg");
}
.cd-fixed-background.img-2 {
background-image: url("land2.jpg");
}
.cd-fixed-background.img-3 {
background-image: url('land3.jpeg');
}
