html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}


/*main header*/
.main_header {
background-color: #1B2936;
box-shadow: 0 0 5px;
padding-top: 20px;

padding-bottom: 20px;


}


.logo {
/*	
background-image: url("/static/ds_app/images/ds-big-logo.png");
height: 170px;
background-repeat: no-repeat;
background-position: left;
*/
text-align: center;
/*border: 1px solid red;*/
min-width: 270px;

}
/*adress*/

.adress {
	
	margin-top: 10px;
	color: #ffffff;
	font-family: 'Comfortaa', cursive;
	
}


.adress-ul li {
	margin-top: 10px;
}

.adr-wrapper {
	border:3px solid #FDC300;
	padding: 10px;
	border-radius: 5px;
	
}


.row {
	margin-left: 0;
	margin-right: 0;
}



.sampo {
/*	
background-image: url("/static/ds_app/images/ds-big-logo.png");
height: 170px;
background-repeat: no-repeat;
background-position: left;
*/
text-align: center;

margin-top: 20px;

}
.zakaz-outer {
	
	color: #ffffff;
	text-align: center;
	
	font-family: 'Comfortaa', cursive;
	

}
.zakaz-inner  {
	margin-top: 60px;


}
.zakaz-inner button {
	 box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.zakaz-inner button:hover {
	background-color: #ffffff;
	box-shadow: 0 0 5px;
	border: 2px solid red;
	text-shadow: 1px 0 1px;
	box-shadow: 0 2px 25px rgba(255, 255, 255, 0.5);
}

/*navbar*/
.navbar {
	width: 100%;
	

} 

.nav-item {
	margin-left: 3rem;
	margin-right: 3rem;
	
}

.main-m:hover {
	/*border: 1px solid #1B2936;*/
	border-radius: 10px;
	margin-bottom: -2px;	
	background-color: #FDC300;
	font-weight: bold;
	box-shadow: 0 5px 15px -5px rgba(125,124,41,0.9);

}


.adr {

}

/*search*/
.searcher {
	border-bottom: 3px solid #1B2936;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.searchForm {
	margin-top: 10px;
	display: flex;
	margin-bottom: 10px;
	
}

.searchForm input {
	color: blue;
}

.sticky-top {
	background-color: white;
}




/*tester*/
.content-border {
	background-color: #a1aab7;
}
.tester {
	width: 100%;
	height: 2000px;
	background-color: #1B2936;
	
	padding-left: 0;
	padding-right: 0;
	

}

/*slider*/
.slide-1-data {
	background-color: rgba(1,1,1,0.8);
	border-radius: 10px;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
}

/*about*/
.about {
	/*background-color: white;*/
	border-top:3px solid #FDC300;;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;

	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 background-attachment: fixed;
	 /*background-image: linear-gradient(rgba(58, 147, 216, 0.7), rgba(237, 237, 249, 0.6)), url('/static/shop/images/about-us.jpg');;*/
	 background-image: url('/static/ds_app/images/land1.jpeg');


	border-bottom:3px solid #FDC300;;
}

.card-deck {

	margin-bottom: 30px;
}

.card-deck .card-title {
	text-decoration: underline;

}
.card-spisok {
	list-style: disc;
	margin-left: 20px;
}


/*media*/
@media (max-width: 278px) {
		.logo {text-align: center;
	}
}
@media (max-width: 320px) {
	.main_header {
		padding-left: 0;
		}
		.logo {text-align: center;
	}

	.searchForm {
		flex-wrap: wrap;
	}
	.searchForm input {
		margin: 0;
	}

	.searchForm button {
		margin: 5px auto;
	}

}

@media (max-width: 575px) {
	.logo {text-align: center;
	}
	.adr-wrapper {
		/*background-color: green;*/
		margin-top:10px;
		
	}
	.adress {
		/*border:2px solid white;*/
		margin: 0 auto;

	}
}

@media (min-width: 768px) and (max-width: 1092px) {

	.adr-wrapper {
		border: 3px solid white;
	}
	.sampo {
		display: none;
	}

}