html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}


/*main header*/
.main_header {
background-color: #1B2936;
box-shadow: 0 0 5px;
padding-top: 20px;

padding-bottom: 20px;


}


.logo {
/*	
background-image: url("/static/ds_app/images/ds-big-logo.png");
height: 170px;
background-repeat: no-repeat;
background-position: left;
*/
text-align: center;
/*border: 1px solid red;*/
min-width: 270px;

}
/*adress*/

.logo span {
	font-size: 22px;
	color: #FDC300;
	font-family: 'Roboto', sans-serif;
}

.adress {
	
	margin-top: 10px;
	color: #ffffff;
	font-family: 'Comfortaa', cursive;
	
}


.adress-ul li {
	margin-top: 10px;
}

.adr-wrapper {
	border:3px solid #FDC300;
	padding: 10px;
	border-radius: 5px;
	
}


.row {
	margin-left: 0;
	margin-right: 0;
}



.sampo {
/*	
background-image: url("/static/ds_app/images/ds-big-logo.png");
height: 170px;
background-repeat: no-repeat;
background-position: left;
*/
text-align: center;

margin-top: 22px;

}

.deviz-header {
	text-align: center;
	color:white;
	margin-top: 60px;
	font-family: 'Lobster', cursive;
	font-size: 20px;

}

.zakaz-outer {
	
	color: #ffffff;
	text-align: center;
	
	font-family: 'Comfortaa', cursive;
	

}
.zakaz-inner  {
	margin-top: 60px;


}
.zakaz-inner button {
	 box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
.zakaz-inner button:hover {
	background-color: #ffffff;
	box-shadow: 0 0 5px;
	border: 2px solid red;
	text-shadow: 1px 0 1px;
	box-shadow: 0 2px 25px rgba(255, 255, 255, 0.5);
}

/*navbar*/
.navbar {
	width: 100%;
	

} 


.nav-item {
	margin-left: 0.7rem; /*3rem*/
	margin-right: 0.7rem;
	
}

.main-m:hover {
	/*border: 1px solid #1B2936;*/
	border-radius: 10px;
	margin-bottom: -2px;	
	background-color: #FDC300;
	font-weight: bold;
	box-shadow: 0 5px 15px -5px rgba(125,124,41,0.9);

}


.adr {

}

/*search*/
.searcher {
	border-bottom: 3px solid #1B2936;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.searchForm {
	margin-top: 10px;
	display: flex;
	margin-bottom: 10px;
	
}

.searchForm input {
	color: blue;
}

.sticky-top {
	background-color: white;
}




/*tester*/
.content-border {
	background-color: #a1aab7;
}
.tester {
	width: 100%;
	/*height:2000px;*/
	background-color: #1B2936;
	
	padding-left: 0;
	padding-right: 0;
	

}

/*slider*/
.slide-1-data {
	background-color: rgba(1,1,1,0.8);
	border-radius: 10px;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
}

/*about*/
.about {
	/*background-color: white;*/
	border-top:3px solid #FDC300;;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;

	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 background-attachment: fixed;
	 /*background-image: linear-gradient(rgba(58, 147, 216, 0.7), rgba(237, 237, 249, 0.6)), url('/static/shop/images/about-us.jpg');;*/
	 background-image: url('/static/ds_app/images/land1.jpeg');


	border-bottom:3px solid #FDC300;;
}

.card-deck {

	margin-bottom: 30px;
}

.card-deck .card-title {
	text-decoration: underline;

}
.card-spisok {
	list-style: disc;
	margin-left: 20px;
}




/*sviaz*/
.send-sviaz {
	/*border-bottom:3px solid #FDC300*/
}
.head-sviaz {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	
}


.linker-home{
	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center center;
 	background-attachment: fixed;
	background-image: url("/static/ds_app/images/land1.jpeg");
	border-radius: 20px;
}
.pre-linker {
	padding:10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 25px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.form-o {
	margin-top: 30px;
	margin-bottom: 30px;
}

.linker {
	width: 40%;
	margin:20px auto;
}

.btn-linker{
text-align: center;
}



/*footer*/



/*footer*/
.head-footer {
	border-top:3px solid #FDC300;

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
	height: 300px;
	background-color: #1B2936;
	
	border-bottom: 2px solid black;
	
}



.foot-item-menu {
	text-align: center;
}



/*foot-about*/
.foot-about {
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
}
.foot-about li {
	margin-bottom: 10px;
	cursor:pointer;
}
.foot-about li:hover {
	margin-left: 10px;
	cursor:pointer;
	text-decoration: underline;
	transition: 0.2s;
}
.c2018 {
	color:white;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.c2018 span {
	color:#FDC300;
}
/*social*/
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fab {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fab {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fab {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fab {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fab {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 60px;
  font-size: 0;
  text-align: center;
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
	border:2px solid black;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fab {
  font-size: 38px;
  vertical-align: middle;
}

/*end footer*/


/*media*/
@media (max-width: 278px) {
		.logo {text-align: center;
	}
}
@media (max-width: 320px) {
	.main_header {
		padding-left: 0;
		}
		.logo {text-align: center;
	}

	.searchForm {
		flex-wrap: wrap;
	}
	.searchForm input {
		margin: 0;
	}

	.searchForm button {
		margin: 5px auto;
	}

}

@media (max-width: 575px) {
	.logo {text-align: center;
	}
	.adr-wrapper {
		/*background-color: green;*/
		margin-top:10px;
		
	}
	.adress {
		/*border:2px solid white;*/
		margin: 0 auto;

	}
}

@media (min-width: 768px) and (max-width: 1092px) {

	.adr-wrapper {
		border: 3px solid white;
	}
	.sampo {
		display: none;
	}

}

@media (max-width: 574px) {

	.head-footer {
		height: 600px;
	}
	.social-btns {
	  height: 60px;
	  font-size: 0;
	  text-align: center;
	  position: absolute;
	  bottom: 103px;
	  left: 0;
	  right: 0;
	}

}